@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:ital,wght@0,500;1,500&display=swap');
* { 
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Alumni sans SC';
    text-size-adjust: 100;
    font-weight: 600;
    color: #ffffff;
    background-color: black;
    margin: 0;
    padding-left: 20px; /* Optional: adds space from the left edge */
}

img {
  opacity: 0;
  animation: fadeIn 5s forwards;
  margin: 5%;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.glow {
  color: rgb(255, 255, 255);
  background-color: #000000;
  text-shadow: 0 0 5px rgb(0, 0, 0), 0 0 20px rgb(107, 206, 255);
}



